<body background="/cat.jpg">
  <p>
    <div style="background-color:white;">
      <% if(email) { %>
        <center>
        <b> <font size="+1"> Logged in as:   </b> <%= email %>
          <form action="/logout" method="POST">
            <input type="submit" value="logout" />
          </form>
        </font>
      </center>
      <% } else{ %>
        <center>
          <form method="GET" action= <%= `/login` %> >
            <label for="login"> Login :</label>
            <input type="submit" value="Login">
          </form>
          <form method="GET" action= <%= `/register` %> >
            <label for="register">Register :</label>
            <input type="submit" value="Register">
          </form>
          <form method="GET" action= <%= `/u` %> >
            <label for="links"> See All User Created Links :</label>
            <input type="submit" value="Go">
          </form>
        </center>
        <% } %>
      </div>
    </p>
  </body>

