<body background="/cat.jpg">
  <p>
    <div style="background-color:white;">
      <% if(email) { %>
        <br>
        <center>
          <form action="/logout" method="POST">
             <label for="home"> <b> <font size="+1"> Logged in as: </b> <%= email %> :</label>
              <input type="submit" value="logout" />
          </form>
            <br>
            <a href="/urls"> See your Links </a>
        </font>
      </center>
      <% } else{ %>
        <center>
          <form method="GET" action= <%= `/login` %> >
            <label for="login"> Login :</label>
            <input type="submit" value="Login">
          </form>
          <form method="GET" action= <%= `/register` %> >
            <label for="register">Register :</label>
            <input type="submit" value="Register">
          </form>

        </center>
        <% } %>
      </div>
    </p>
  </body>

