<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <div style="background-color:white;" >
    <form action="/urls/<%= id%>" method="POST" style="margin:150px;">
      <label for="replacementURL">Edit your URL:</label>
      <input id="replacementURL" type="text" name="replacementURL" value='<%= longURL %>' style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    </div>
  </body>
</html>