<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<div style="background-color:white;" >
<% include partials/_header %>

</div>
<!-- <img src="/cat.jpg" alt="Cat not found" style="width:160px;height:120px;"> -->
<div style="background-color:white;" ><center> <h1>  Joao's Awesome URL Shortner </h1>
  <h2> List of all URLs user have created</h2>
  <table style="width:55%">
</center></div>
    <tr>
      <td> <b> Short URL </b> </td>
      <td> <b> Long URL </b> </td>
    </tr>
    <% for (var email in urls){ %>
      <% for (var shortUrl in urls[email]){ %>
      <tr>
        <td> <a href="/u/<%= shortUrl %>"> <%= shortUrl %> </a> </td>
        <td> <a href="/u/<%= shortUrl %>"> <%= urls[email][shortUrl] %> </a> </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <% } %>
    <% } %>
  </table>
  <table style="width:0%">
    <tr>
      <td>
      </td>
    </tr>
  </table>
</body>
</html>
